Are you sure you want to delete department Details with id <%= departmentId %>
<form action="/department/<%=departmentId%>/delete" method="post">
    <input type="submit" class="btn btn-sm btn-danger" value="Yes, Confirm Delete" />
</form>